* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  color: black;
}
.story {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
}
.story h1 {
  font-family: 'Lora';
  font-size: 64px;
  font-weight: 700;
  line-height: 93px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 auto;
  padding-top: 3rem;
  color: #888888;
}
.story .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.5rem;
  /* gap: 7rem; */
}
.row {
  height: 800px;
  display: flex;
}
.row1 {
  flex-basis: 60%;
  min-width: 60vw;
  align-items: flex-end;
  justify-content: flex-start;
}
.image {
  width: 90%;
  position: relative;
}
.image img {
  width: 100%;
}
.image .img-txt {
  position: absolute;
  width: 80%;
  height: fit-content;
  padding: 1rem;
  top: -38px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: white;
}
.image .img-txt h3 {
  color: black;
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 300;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}
.image .img-txt p {
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.row2 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex-basis: 40%;
  min-width: 30vw;
}
.row2 .last {
  font-family: 'Inter';
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 9.6rem;
  width: 241px;
  height: 116px;
  color: #888888;
}
.row2 div h3 {
  /* //styleName: H3 Light; */
  font-family: 'Inter';
  font-size: 40px;
  font-weight: 300;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: black !important;
}
@media only screen and (max-width: 1366px) {
  .story h1 {
    font-size: 64px;
  }
  .container {
    gap: 7rem;
  }
  .row {
    height: 600px;
    display: flex;
  }
  .row1 {
    flex-basis: 60%;
    min-width: 50vw;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .image {
    width: 100%;
    min-height: 500px;
    position: relative;
  }
  .image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
  }
  .image .img-txt h3 {
    font-size: 30px;
  }
  .image .img-txt p {
    font-size: 16px;
  }
  .row2 {
    flex-basis: 40%;
    min-width: 30vw;
    justify-content: space-between;
    gap: 0rem;
  }
  .row2 .last {
    font-size: 38px;
    line-height: 48px;
    margin-top: 0;
  }
  .row2 div h3 {
    font-size: 30px;
    line-height: 48px;
  }
}

@media only screen and (max-width: 1280px) {
  .row {
    height: 660px;
    display: flex;
  }
  .story .container {
    gap: 3rem;
    padding: 2rem;
  }
  .row2 div h3,
  .image .img-txt h3 {
    font-size: 27px;
    line-height: 38px;
  }
  .image .img-txt p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  
  .row {
    height: fit-content;
  }
  .story .container {
    flex-direction: column;
    margin-top: 100px;
  }
  .row2 {
    gap: 2rem;
  }
  .row2 div h3 {
    width: 100%;
    text-align: center;
  }
  .row2 .last {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width:540px) {
  .story .container {
    margin-top: 13rem;
  }
}